<div class='ui raised segment'>
        <h1 class='ui header'>Employment:</h1>
        <div class='ui segment' v-for='job in jobs'>
            <h4 class='ui header'>{{job.company}}<span style='float: right'>{{job.startDate}} - {{job.endDate}}</span></h4>
            <div class='content'>
            <h4 class='ui header'>{{job.title}}</h4>
                <ul>
                    <li v-for="resp in job.responsibilities">{{resp}}</li>
                </ul>
            </div>
        </div>
    </div>