div > p {
    text-align: center;
}

div > div {
    text-align: center;
}

.facebook {
    color: #3b5998;
}

.linkedin {
    color: #0077B5;
}

.gitlab {
    color: #fc6d26;
}

.main.container {
    /* border-right: solid black 1px; */
}