<template src='./PhotoComponent.html'></template>
<style scoped src='./PhotoComponent.css'></style>
<script>

const img = require('../../../img/profilePhoto.jpg');

export default {
    data: () => {
        return {
            profileImg: img
        }
    }
}

</script>