<div class='main content'>
    <div class='ui raised segment'>
        <h2 class='ui header'>Programming Languages (Proficiency %):</h2>
        <div v-for='value in progressValues' class='inline field' style='margin-left: 20px'>
            <label>{{value.language}}:</label>
            <progress :value='value.value' max='100'>{{value.language}}</progress>
            <label>{{value.value}}%</label>
        </div>
    </div>
    
</div>