<template src='./Program.html'></template>
<style src='./Program.css'></style>

<script>


export default {
    data: function() {
        return {
            progressValues: {
                php: {
                    language: 'PHP',
                    value: 95
                },
                ASPNET: {
                    language: 'ASP.NET MVC',
                    value: 85
                },
                html: {
                    language: 'HTML',
                    value: 100
                },
                css: {
                    language: 'CSS3',
                    value: 100
                },
                javaScript: {
                    language: 'JavaScript',
                    value: 95
                },
                MSSQL: {
                    language: 'T-SQL',
                    value: 98
                },
                MySQL: {
                    language: 'MySQL',
                    value: 98
                },
                laravel: {
                    language: 'Laravel 5',
                    value: 100
                },
                wordpress: {
                    language: 'WordPress',
                    value: 85
                },
                vue: {
                    language: 'Vue 2',
                    value: 90
                }
            }
        }
    },
    mounted: function() {
        //this.$refs.line.animated(1.0);
    }
}

</script>
