.inline.field {
    margin-bottom: 10px;
}

.inline.field > progress {
    width: 70%;
}

.inline.field > label {
    font-weight: bold;
    font-size: 15px;
}

@media only screen and (max-width: 768px){
    .inline.field > progress {
        width: 60%;
    }
}

@media only screen and (max-width: 425px){
    .inline.field > progress {
        width: 50%;
    }
}