<template src='./Education.html'></template>
<style src='./Education.css'></style>
<script>

export default {
    data: function() {
        return {
            schools: {
                AMU: {
                    name: "American Military University",
                    degree: "Information Technology",
                    focus: "Web Development",
                    startDate: 'June 2015',
                    endDate: 'Present'
                },
                TWU: {
                    name: "Texas Woman's Unversity",
                    degree: "Mathematics",
                    focus: "Mathematics",
                    startDate: 'August 2012',
                    endDate: 'December 2013'
                }
            }
        }
    }
}

</script>